build-llfcchat*
Debug
x64
.vs
llfcchat.pro.user
/Client/Chatter/.qtc_clangd
/Client/Chatter/.qmake.stash
/Client/Chatter/bin/Chatter.exe
/Client/Chatter/bin/Chatter.ilk
/Client/Chatter/bin/Chatter.pdb

/Client/Chatter/Chatter.qtvscr

/Client/Chatter/Chatter.sln
/Client/Chatter/Chatter.vcxproj
/Client/Chatter/Chatter.vcxproj.filters
/Client/Chatter/Chatter.vcxproj.user
/Client/Chatter/Chatter_resource.rc
/Client/Chatter/build
/Client/Chatter/debug
/Client/Chatter/release
/Client/Chatter/ui_adduseritem.h
/Client/Chatter/ui_applyfriend.h
/Client/Chatter/ui_applyfrienditem.h
/Client/Chatter/ui_applyfriendpage.h
/Client/Chatter/ui_authenfriend.h
/Client/Chatter/ui_chatdialog.h
/Client/Chatter/ui_chatpage.h
/Client/Chatter/ui_chatuserwid.h
/Client/Chatter/ui_contactuseritem.h
/Client/Chatter/ui_findfaildialog.h
/Client/Chatter/ui_findsuccessdlg.h
/Client/Chatter/ui_friendinfopage.h
/Client/Chatter/ui_friendlabel.h
/Client/Chatter/ui_grouptipitem.h
/Client/Chatter/ui_loadingdlg.h
/Client/Chatter/ui_logindialog.h
/Client/Chatter/ui_mainwindow.h
/Client/Chatter/ui_registerdialog.h
/Client/Chatter/ui_resetdialog.h
ui_*.h
/server/VerifyServer/.idea/*.iml
/server/VerifyServer/.idea
/server/ChatServer/*.log
/Client/Chatter/Chatter.pro.user.29bf4d8
/Client/Chatter/Chatter.pro.user.b13f7ad
/Client/Chatter/Chatter.pro.user
